body {
    margin: 0;
    padding: 0;
    background: #E0E0E0;
    font-family: sans-serif;
    font-weight: bolder;
    overflow: hidden;
}

background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

background img {
    width: 100vw;
    height: 100vh;
    fill: none;
    stroke: #A0A0A0;
}

#image-3o-clock {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: calc(50vh - 10rem / 2);
    right: 0;
}

#image-6o-clock {
    position: absolute;
    width: 10rem;
    height: 10rem;
    left: calc(50vw - 10rem / 2);
    bottom: 2rem;
}

#image-9o-clock {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: calc(50vh - 10rem / 2);
    left: 0;
}

#image-12o-clock {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: 2rem;
    left: calc(50vw - 10rem / 2);
}

#image-second-hand, #image-hour-hand, #image-minute-hand {
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: calc(50vh - 10rem);
    left: calc(50vw - 10rem);
}


shadow {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, .5));
}

